@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Lobster&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body,
#root {
  scroll-behavior: smooth;
  border-color: #f5f8f7;
  width: 100vw !important;
  overflow-x: hidden;
  font-family: "Inter", serif;
}

/* cursor blink animation */
.blink {
  animation-name: blink;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
  animation-duration: 1s;
}

@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
